:root {
    --primary: #03dac5;
    --secondary: #2be0ce;
    --primary-variant: #bb86fc;
    --primary-variant-2: #3700b3;
    --error: #cf6679;
    --dark-0: #000000;
    --dark-1: #121212;
    --dark-2: #252525;
    --dark-3: #201b25;
    --light-0: #ffffff;
    --light-1: #f4f3f4;
    --light-2: #d9d9d9;
    --light-3: #888;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
    --box-shadow2: 0 12px 28px rgba(0, 0, 0, 0.2);
    --darken: rgba(21, 20, 51, 0.8);
    --danger: #ff0000;
}
